/*
    Posicionamiento: static, absolute, relative, fixed
    Modelo de caja (Box model): margin, border, padding, width and height
    Tipografía: Tamaños, pesos, tipos de fuentes
    Visuales: box-shadow, border-radius, gradient, etc
    Otros: todo lo demás
*/
:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black:#201e1c ;
    --black:#282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', 'sans-serif';
    /* Para generar un scroll lento */
    scroll-behavior: smooth;
    
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Con esto le decimos que el width no va a ser  más chico que 320px que es la dimensión más chica en los celulares */
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /* Esta es la forma de centrar a un elemento que tenga un contenedor con display flex */
    align-self: center;


}
.header--title-container{
    /* Quiere decir que va estar usando un width de 90% entre 288 y 900px */
    width: 90%;
    min-width: 288px;
    max-width: 900px;

    height: 218px;
    /* Para que se separe del logotipo */
    margin-top: 40px;
    text-align: center;
    /* Como va ir creciendo y su ancho es de 90% entonces un align self center para que el espacio de su izquiera sea igual que el de la derecha del contenedor
    todo esto porque nuestro contenedor padre tiene display flex que es el header */
    /* align-self: es para los hijos y align items para los padres, también se puedo agregar un align-items:center; al padre para que todos sus hijos se alinien en caso no querramos usar align self center a cada rato ya que estamos usando flex-direction column se alineará al centro horizontalmentes */
    align-self: center;
}
/* Por buenas prácticas solo debemos tener un h1 pero por si a caso especificacmos pero por si usamos librerias bootstrap etc */
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    /* Es para el separado de lineas o saltados de lineas del parrafo */
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    /* El absolute para posicionarlo donde querramos para hacer el boton al medio de 2 secciones */
    position: absolute;
    /* Para que se ponga al medio, lo ponemos a 50% - la mitad del ancho del contenedor */
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 38, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    /* Le ponemos inline-block porque span viene en inline */
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('assets/icons/down-arrow.svg');
}
main{
    width: 100%;
   /* Auto Porque el mismo contenido va definir la altura de nuestro main */
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
 .main-exchange-container--title {
     width: 90%;
     /* El tamaño mínimo de un celular es 320 así que nos aseguramos de que se vea bien ahí */
     min-width: 288px;
     max-width: 900px;
     margin: 0 auto;
 }
 .main-exchange-container .backgroundImg{
     /* Primero tenemos que darle un tamaño, ya que si ponemos algo no se verá porque no tiene un tamaño */
     width: 200px;
     height: 200px;
     /* Para que se posicione en el centro */
     margin: 0 auto;
     margin-bottom: 50px;
     background-image: url(/assets/img/Bitcoin.svg);
     background-size: cover;
     /* background-size sirve bastante para manejar de que manera queremos que se vea la imagen en el fondo.
     Cover por ejemplo, para que la imagen cubra todo el espacio según el tamaño del contenedor.  */
     /* Para que sin importar el tamaño del contenedor de la imagen nosotros podamos ver el centro de la imagen */
     background-position: center;
     background-repeat: no-repeat;
    }
    .main-exchange-container h2{
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
    }
    .main-exchange-container p{
        margin-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        color: #757575;
    }
    .main-currency-table{
        /* porque la lista no ocupa todo el ancho */
        width: 70%;
        min-width: 235px;
        max-width: 500px;
        height: 360px;
        margin: 0 auto;
        font-family: "Inter", sans-serif;
    }
    .main-currency-table .currency-table-title {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: var(--bitcoin-orange);
    }
    /* Esta es mi tabla */
    .currency-table--container {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        /* estamos usando 90% así que para que se centre */
        margin: 0 auto;
    }
    .currency-table--container table {
        /* Para que la tabla use tood el espacio del contenedor padre */
        width: 100%;
        height: 100%;
    }
    .currency-table--container td {
        width: 50%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        color: var(--grey);
        background-color: var(--just-white);
    }
    .currency-table--container .table__top-left {
        border-radius: 15px 0 0 0;
    }
    .currency-table--container .table__top-right{
        border-radius: 0 15px 0 0;
    }

.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(/assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(/assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-currency-table .currency-table-title-B {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.currency-table--date-B {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.currency-table--date-B p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product-detail{
    /* Para que el position absolute de tu hijo tenga un delimitado movimiento importante ponerlo */
    position: relative;
    width: 100%;
    /* No hay un celular más chico de 320px así que ahí lo delimitamos */
    min-width: 320px;
    /* Porque quiero que el contenido mismo de esa sección determine el alto */
    height: auto;
    /* Para que nos de acomode las articulos que le pongamos */
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    /* Position absolute para que la imagen de la batata pueda salir, lo que hace es irse al primer contenedor padre que tenga position relative encuentre por eso 
    le pusimos position relative arriba para que pueda delimitar su movimiento  */
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    /* Para que se centre */
    left: calc(50% - 20px) ;
    background-image: url(/assets/icons/batata.svg);
}
.product-detail--title{
    width:90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width:288px;
    max-width: 400px;
    height: 150px;
    /* 15px de arriba abajo  */
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

}
.product-detail--card .clock{
    display: inline-block;
    width: 20px ;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
#Tiempo{
    background-image: url(/assets/icons/clock.svg);
}
#ojos{
    background-image: url(/assets/icons/eye.svg);
}
#dinero{
    background-image: url(/assets/icons/dollar-sign.svg);
}
#check{
    background-image: url(/assets/icons/check-circle.svg);
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(https://i.postimg.cc/dtcGkrwj/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
    /* Si usaba position absolute no me funciona el text align */
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px; 
}
.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p{
    /* Para separarlo del h2 el padding */
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider {
    /* Para que se acomoden al costado una tarjeta con otra */
    display: flex;
    /* GAP Para generar la separacion de las tarjetas pero no está habilitado en algunos navegadores */
    /* gap: 50px; */
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
     scroll-snap-align: center; /* para que me lo jale al medio cuando scrolleo */
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    /* 50 arriba y (auto) lo mismo a la izquierda y derecha y 0 abajo */
    margin: 50px 5px 0; 
    /* De arriba y abajo 0 y de iziquierda y derecha 15 */
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}


.Recomendado{
    position: absolute;
    /* Para que se salga de su contenedor padre el boton */
    top: -15px;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    /* Para que se centre un poco más */
    padding: 6px;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
    position: relative;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    position: absolute;
    left: calc(50% - 42px);
    top: -7px;
      /* Para mandar el icono arriba sin position  */
      /* vertical-align: text-top; */
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/assets/icons/orange-right-arrow.svg);
    /* Para que la flechita este alineada con el texto */
    vertical-align: text-bottom;
}
#Basico .Recomendado{
    background-color: var(--secondary-blue);
}
#Ilimitado .Recomendado{
    background-color: var(--grey);
}
#Ilimitado{
    background-color: var(--warm-black);
}
#Ilimitado .plan-card--price span{
    color: var(--just-white);
    left: calc(50% - 55px);
}
#Ilimitado .plan-card--title{
    color: var(--off-white);
}
#Ilimitado .plan-card--price{
    color: var(--just-white);
}
#Ilimitado .plan-card--ca{
    background-color: var(--warm-black);
    color: var(--just-white);
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    /* Para que se apliquen los estilos tenemos que darles una dimención */
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
